#main_content_container {
    display: flex;
    flex-direction: column;
  }
  
  
  .categories_output {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 1rem;
  }
  .categories_output .category_header {
    padding: 1rem;
    background-color: rgb(214, 214, 214);
  }
  .categories_output .category_header svg {
    margin-bottom: .1rem;
    margin-left: 1rem;
  }
  .categories_output .toggle_open {
    overflow: hidden;
    transition: all .5s;
  }
  .categories_output .toggle_open.close {
    height: 0;
  }
  .categories_output .column_headers {
    margin: auto;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-bottom: 1rem;
  }
  .categories_output .column_headers button {
    border: none;
    background-color: transparent;
    transition: .1s;
  }
  .categories_output .column_headers button:hover {
    color: #ccc;
  }
  .categories_output .column_headers button svg {
    margin-right: .5rem;
    margin-bottom: .1rem;
  }
  
  .categories_output .items_output {
    padding: .5rem 0;
    margin: auto;
  }
  .categories_output .items_output .col-sm {
    margin: auto;
  }
  .categories_output .items_output:hover {
    background-color: #eee;
  }
  .categories_output .items_output .item_edit {
    border: none;
    padding: .5rem;
    background-color: transparent;
    margin-left: .1rem;
  }
  .categories_output .items_output .item_edit:hover {
    color: #ccc;
  }
  .categories_output .items_output .item_close {
    padding: .5rem;
    background-color: transparent;
    margin-left: .1rem;
    transition: .1s;
  }
  .categories_output .items_output .item_close:hover {
    background-color: #ccc;
  }
  
  
  .categories_output .new_item .item_input input {
    padding: .5rem;
    text-align: center;
  }
  .categories_output .new_item .item_input input:focus {
    border: none;
  }
  .categories_output .new_item .item_status select {
    padding: .5rem;
    text-align: center;
  }
  .categories_output .new_item {
    transition: 1s;
  }
  .categories_output .new_item button {
    padding: .5rem;
    background-color: transparent;
    margin-left: .1rem;
    transition: .1s;
  }
  .categories_output .new_item button:hover {
    background-color: #ccc;
  }
  .categories_output .new_item.inactive {
    display: none;
  }