
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .App {
  width: 100%;
  height: 100%;
}
a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}
body {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
}

/*topbar*/
#topbar {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  z-index: 3;
  background-color: rgb(53, 87, 180);
}
#topbar ul {
  align-self: end;
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: flex-start;
  align-content: flex-start;
}
#topbar ul li {
  list-style: none;
  width: 100px;
  height: 100%;
  z-index: 1;
}
#topbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 100%;
  transition: .2s;
  color: #a0b5fc;
}
#topbar ul li:hover a {
  color: white;
}
#topbar ul li.active a {
  color: white;
}

/*main container*/
#main_container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  top: 70px;
}
/*sidebar*/
#sidebar {
  width: 15%;
  min-width: 200px;
  height: 100%;
  border-right: 1px solid rgb(218, 211, 219);
}
#sidebar .sidebar_section {
  margin: 10px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(218, 211, 219);
}
#sidebar .sidebar_section .h8 {
  font-size: 1rem;
}
#sidebar .search_bar input {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: .5rem;
}
#sidebar .search_bar input:focus {
  outline: none !important;
  border: 1px solid rgb(145, 140, 140);
}


/*main content*/
#main_content {
  width: 100%;
  display: inline-block;
}
#main_content_container {
  display: flex;
  flex-direction: column;
}
#main_content_container .items_head {
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  background-color: #eee;
}

#main_content_container table, th, td {
  border-bottom: 1px solid #aaa;
}
#main_content_container table th {
  padding: 1rem 0 1rem 1rem;
  font-family: Trebuchet MS, sans-serif;
  text-align: left;
}
#main_content_container table th div {
  display: inline-block;
}
#main_content_container table th .menu_btns {
  position: relative;
  left: calc(100% - 250px);
}
#main_content_container table .menu_btns button {
  display: inline;
  background-color: white;
  border: 2px solid #ccc;
  color: rgb(90, 90, 90);
  border-radius: 10px;
  padding: .5rem;
  margin: .5rem;
}
#main_content_container table td div {
  font-weight: 100;
  margin: 1rem;
}
#main_content_container table tbody tr, .category_td {
  transition: .2s;
}
#main_content_container table tbody:hover .category_td {
  background-color: #ddd;
}
#main_content_container table tbody .item_td .new_item {
  display: flex;
}
#main_content_container table tbody .item_td .new_item .item_input {
  display: inline-block;
  width: 90px;
  height: 20px;
}
#main_content_container table tbody .item_td .new_item .item_input input {
  padding: .1rem;
  width: 100%;
}
#main_content_container table tbody .item_td .new_item button {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding-top: .5rem;
}
#main_content_container table tbody tr:hover {
  background-color: #ddd;
}

#main_content_container table .events_container {
  display: flex;
}
#main_content_container table .events_container div {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 15px;
  padding: .5rem;
  text-align: center;
}
#main_content_container table .events_container div:hover {
  background-color: #eee;
}
#main_content_container table .events_container div p:nth-child(1){
  background-color: rgb(241, 214, 233);
}